site_name: DevTul Core
site_url: http://localhost:8080/docs/  # <--- Important for asset linking
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
